
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: initial;
}

.logo-mini, .logo-lg {
  width: 50px;
  height: 50px;
  float: left;
}

.logo span {
  padding-left: 10px;
}

.content {
   overflow: auto;
}

.sidebar-menu .header {
  font-weight: bold;
  color: white !important;
}

.master-info span{
  margin-right: 5px;
}

.inactive-menu {
   pointer-events: none;
   cursor: default;
   opacity: 0.35;
}
