.fa-1-5x {
    font-size: 1.5em;
}

.content-header > h1 {
  margin-left: 15px;
}

.listing-box {
  margin-bottom: 10px;
}

.box-error, {
  border: red solid;
}

.listing-box-header {
  /*  padding-bottom: 0px; */
}

.box-tools {
  position: absolute;
  right: 0;
  bottom: 0;
}

.header-elements-wrapper {
  font-size: 14px;
}

.listing-box-body-wrapper {

  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px inset;
  background: rgba(238, 238, 238, 0.3);
  color: #222d32;
}

.listing-image {
  float: left;
  padding-right: 10px;
}

.listing-image img {
  width: 80px;
}

.header-wrapper {
  margin-left: 90px;
}

.listing-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.donor-listing-title-panel {
  margin-bottom: 0px;
}

.donor-accepted-header-element {
    margin-bottom: 10px;
}

.listing-box-anchor {
  overflow: auto;
  padding: 0px;
  position: relative;
}

.listing-box-anchor:active,
.listing-box-anchor:focus
 {
  color: rgb(34, 45, 50);
}

.quantity-needed-input {
  margin-right: -100px;
  float: left;
  width: 100%;
}

.beneficiaries-no-input {
  margin-right: -60px;
  float: left;
  width: 100%;
}

.quantity-type-inside, .beneficiaries-no-inside {
  margin-top: 7px;
  display: block;
}

.btn-box-tool, .btn-box-tool:hover {
  color: #222d32;
}

.pickup-volunteer-wrapper {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.listing-input-wrapper div, .listing-input-wrapper span,
.listing-pickup-volunteer div, .listing-pickup-volunteer span {
  padding-right: 0px;
  margin-bottom: 10px;
}

.listing-input-wrapper input,
.listing-pickup-volunteer input {
  margin-left: 7px;
}

/*---- popup -----*/
.popup-element-label {
  text-align: right;
}

.popup-info {
  font-weight: bold;
  text-align: center;
}

.popup-element-value {
    font-weight: bold;
}

.help-block {
  font-size: 12px;
}

.edit-volunteer-button {
  margin-right: 10px;
}

.cso-accepted-listing-box {
  background: #d0e7af;
}

.cso-active-listing-box {
/*  background: #ffdede; */
  background: #98cb4f;
}

@media screen and (max-width: 981px) {
  .listing-info-box {
    margin-bottom: 10px;
  }
}

.listing-info-box-inside {
  overflow: auto;
  margin-bottom: 10px;
}

.listing-info-box {
  overflow: auto;
}

.donor-my-active-listings-box,
.donor-my-accepted-listings-box {
  background: #e4cccc;
}

.donor-listing-box-header {
  padding-bottom: 10px;
}

.donor-listing-offer-button {
  margin-top: 2px;
  margin-bottom: 2px;
}

.two-col-layout-image-wrapper {
/*  width: 150px; */
}

.two-col-layout-image-wrapper img, .volunteer-image-wrapper img {
  width: 100%;
  max-width: 225px;
}

.profile-info {
  margin-top: 15px;
}

.profile-image img, .volunteer-image img,
.edit-layout-image img, .new-volunteer-image img {
  width: 100%;
  max-width: 225px;
}

#edit-profile-form input#profile-image,
#edit-volunteer-form input#volunteer-image {
  max-width: 225px;
}

.two-col-layout-listing-title {
  font-size: 20px;
  font-weight: bold;
}

.two-col-layout-image-preview {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.two-col-layout-image-preview img {
  width: 50px;
}

.volunteer-info-wrapper {
  font-size: 16px;
  margin-top: 30px;
}

.volunteer-info-change-button {
  margin-top: 10px;
}

.volunteer-info-value {
  font-weight: bold;
}

.two-col-layout-box {
  margin-bottom: 10px;
}

.section-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.volunteer-box-body-wrapper {
  padding-top: 20px;
}

.volunteer-is-user {
  background: #ddd;
}

.comments-wrapper {
  overflow: auto;
}

.new-comment-form {
  overflow: auto;
}

.new-comment-wrapper {
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
}

.new-comment-wrapper button {
  margin-bottom: 5px;
  margin-top: 5px;
}

.existing-comments-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.comment-row {
  position: relative;
  margin-bottom: 5px;
  margin-left: 60px;
  margin-right: 60px;
}

.comment-image {
  position: absolute;
  bottom: 0;
}

.my-comment-image {
  right: 0;
  margin-right: -60px;
}


.other-comment-image {
  left: 0;
  margin-left: -60px;
}

.comment-image img {
  width: 50px;
}

.comment-bubble {
  padding: 10px;
  overflow: auto;
}

.my-comment-bubble {
  color: white;
  background: #0084ff;

  -webkit-border-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-radius-bottomright: 0;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.other-comment-bubble {
  color: black;
  background: #ddd;

  -webkit-border-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.comment-text {
  font-size: 16px;
  float: left;
  text-align: left;
}

.comment-text span {
  float: left;
}

.comment-header {
  font-weight: bold;
  float: left;
  position: relative;
  padding-right: 45px;
}

.comment-header span {
  float: left;
  margin-right: 10px;
  text-align: left;
}

.comment-edited {
  font-size: 12px;
  margin-top: 3px;
}

.my-comment-edited {
  color: #ddd;
}

.other-comment-edited {
  color: #676767;
}

.comment-time {
  color: #003f79;
}

.comment-controls, .my-admin-comment-controls {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.my-comment-bubble:hover .comment-controls, .my-comment-bubble:hover .my-admin-comment-controls {
  display: block;
}

.comment-controls a, .my-admin-comment-controls a {
  color: white;
  margin-right: 5px;
}

.admin-comment-controls {
  position: absolute;
  top: 0;
  right: 0;
}

.my-comment-bubble:hover .admin-comment-controls {
  display: block;
}

.admin-comment-controls a {
  color: black;
  margin-right: 5px;
}

.comment-row {
  position: relative;
  margin-bottom: 5px;
}


@media screen and (max-width: 991px) {
  .new-comment-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
  .comment-controls, .my-admin-comment-controls {
    display: block;
  }
  .admin-comment-controls {
    display: block;
  }
  .my-comment-row {
    margin-left: 0px;
  }
  .other-comment-row {
    margin-right: 0px;
  }
}

.comment-hr {
  margin-bottom: 5px;
  opacity: 0.35;
}

.my-comment-hr {
  border-color: #ddd;
}

.other-comment-hr {
  border-color: gray;
}

.admin-approve-title {
  text-align: center;
  font-size: 18px;
}

.admin-approve-wrapper {
  background: #ddd;
  overflow: auto;
  padding: 10px;
}

.filter-wrapper {
  margin-top: 10px;
}

.email-not-confirmed-alert {
 padding: 5px 20px 5px 20px;
}

.add-more {
  text-decoration: underline;
  color: blue;
}

.rules-and-regulations {
  margin-left: 15px;
  margin-right: 15px;
}

.rules-and-regulations-hr {
  margin-top: initial;
  margin-bottom: initial;
}

.admin-listing-button {
  margin: 2px;
}
